---
import MyChildAstroComponent from './MyChildAstroComponent.astro';
interface Props {
    message: string;
}

const {message} = Astro.props
const colors = "rgb(221 120 228)";

---

<script>
    class AstroGreet extends HTMLElement {
        constructor() {
            super()

            const msg = this.dataset.messages
            const button = document.querySelector('[data-button]');
            
            button?.addEventListener('click', () => {
                alert(msg)
            })
        }
    }

    customElements.define('astro-greet', AstroGreet)
</script>

<style define:vars={{colors}} is:raw>
    span {
        color: green
    }
</style>

<div>
    <MyChildAstroComponent message={message}>
        <slot name="after-footer" slot="after-header">Fallback content</slot>
    </MyChildAstroComponent>
    <slot name="after-header"></slot>
    <span  is:raw>{message}</span>
    <astro-greet data-messages={message}>
        <button class="bg-green" data-button>Click me</button>
    </astro-greet>
    <slot/>
</div>